<div ng-if="foundItems.items.length > 0 ">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Short Name</th>
				<th>Name</th>
				<th>Description</th>
				<th>Large portion name</th>
				<th>Price Large</th>
				<th>Small portion name</th>
				<th>Price Small</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in foundItems.items">
				<td>{{item.id}}</td>
				<td>{{item.short_name}}</td>
				<td>{{item.name}}</td>
				<td>{{item.description}}</td>
				<td>{{item.large_portion_name}}</td>
				<td>{{item.price_large | currency}}</td>
				<td>{{item.small_portion_name}}</td>
				<td>{{item.price_small | currency}}</td>
				<td>
					<!-- methods must receive parameters as objects -->
					<button class="btn btn-danger" ng-click="foundItems.onRemove({index: $index})">Don't want this one!</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="foundItems.items == 0">
	<h1>No results matched your query</h1>
</div>